<form [formGroup]="detalleForm">
  <div class="row m-2">
    <div class="col-md-6">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="nivel">
        <label class="form-check-label" for="nivel">
          Nivel
        </label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <input type="text" (keyup)="dataDetalle()" class="form-control" formControlName="nivel">
      </div>
    </div>
  </div>
  <div class="row m-2">
    <div class="col-md-6">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="pasillo">
        <label class="form-check-label" for="pasillo">
          Pasillo
        </label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <input type="text" (keyup)="dataDetalle()" class="form-control" formControlName="pasillo">
      </div>
    </div>
  </div>
  <div class="row m-2">
    <div class="col-md-6">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="lado">
        <label class="form-check-label" for="lado">
          Lado
        </label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <input type="text" (keyup)="dataDetalle()" class="form-control" formControlName="lado">
      </div>
    </div>
  </div>
  <div class="row m-2">
    <div class="col-md-6">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="tramo">
        <label class="form-check-label" for="tramo">
          Tramo
        </label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <input type="text" (keyup)="dataDetalle()" class="form-control" formControlName="tramo">
      </div>
    </div>
  </div>
  <div class="row m-2">
    <div class="col-md-6">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="subnivel">
        <label class="form-check-label" for="subnivel">
          Subnivel
        </label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <input type="text" (keyup)="dataDetalle()" class="form-control" formControlName="subnivel">
      </div>
    </div>
  </div>
</form>
